.board {
  height: 80vmin;
  width: 80vmin;
  margin: 10vmin;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
}

.white {
  background-color: #f0dab5;
}

.black {
  background-color: #b58962;
}

.active {
  background-color: rgba(20, 85, 30, 0.5);
}

.last-move.white {
  background-color: #cfd27b;
}
.last-move.black {
  background-color: #aca248;
}

.piece {
  display: none;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}
