<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chess AI</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="board">
      <div id="a8" class="square white" style="grid-area: 1 / 1 / 2 / 2"></div>
      <div id="b8" class="square black" style="grid-area: 1 / 2 / 2 / 3"></div>
      <div id="c8" class="square white" style="grid-area: 1 / 3 / 2 / 4"></div>
      <div id="d8" class="square black" style="grid-area: 1 / 4 / 2 / 5"></div>
      <div id="e8" class="square white" style="grid-area: 1 / 5 / 2 / 6"></div>
      <div id="f8" class="square black" style="grid-area: 1 / 6 / 2 / 7"></div>
      <div id="g8" class="square white" style="grid-area: 1 / 7 / 2 / 8"></div>
      <div id="h8" class="square black" style="grid-area: 1 / 8 / 2 / 9"></div>
      <div id="a7" class="square black" style="grid-area: 2 / 1 / 3 / 2"></div>
      <div id="b7" class="square white" style="grid-area: 2 / 2 / 3 / 3"></div>
      <div id="c7" class="square black" style="grid-area: 2 / 3 / 3 / 4"></div>
      <div id="d7" class="square white" style="grid-area: 2 / 4 / 3 / 5"></div>
      <div id="e7" class="square black" style="grid-area: 2 / 5 / 3 / 6"></div>
      <div id="f7" class="square white" style="grid-area: 2 / 6 / 3 / 7"></div>
      <div id="g7" class="square black" style="grid-area: 2 / 7 / 3 / 8"></div>
      <div id="h7" class="square white" style="grid-area: 2 / 8 / 3 / 9"></div>
      <div id="a6" class="square white" style="grid-area: 3 / 1 / 4 / 2"></div>
      <div id="b6" class="square black" style="grid-area: 3 / 2 / 4 / 3"></div>
      <div id="c6" class="square white" style="grid-area: 3 / 3 / 4 / 4"></div>
      <div id="d6" class="square black" style="grid-area: 3 / 4 / 4 / 5"></div>
      <div id="e6" class="square white" style="grid-area: 3 / 5 / 4 / 6"></div>
      <div id="f6" class="square black" style="grid-area: 3 / 6 / 4 / 7"></div>
      <div id="g6" class="square white" style="grid-area: 3 / 7 / 4 / 8"></div>
      <div id="h6" class="square black" style="grid-area: 3 / 8 / 4 / 9"></div>
      <div id="a5" class="square black" style="grid-area: 4 / 1 / 5 / 2"></div>
      <div id="b5" class="square white" style="grid-area: 4 / 2 / 5 / 3"></div>
      <div id="c5" class="square black" style="grid-area: 4 / 3 / 5 / 4"></div>
      <div id="d5" class="square white" style="grid-area: 4 / 4 / 5 / 5"></div>
      <div id="e5" class="square black" style="grid-area: 4 / 5 / 5 / 6"></div>
      <div id="f5" class="square white" style="grid-area: 4 / 6 / 5 / 7"></div>
      <div id="g5" class="square black" style="grid-area: 4 / 7 / 5 / 8"></div>
      <div id="h5" class="square white" style="grid-area: 4 / 8 / 5 / 9"></div>
      <div id="a4" class="square white" style="grid-area: 5 / 1 / 6 / 2"></div>
      <div id="b4" class="square black" style="grid-area: 5 / 2 / 6 / 3"></div>
      <div id="c4" class="square white" style="grid-area: 5 / 3 / 6 / 4"></div>
      <div id="d4" class="square black" style="grid-area: 5 / 4 / 6 / 5"></div>
      <div id="e4" class="square white" style="grid-area: 5 / 5 / 6 / 6"></div>
      <div id="f4" class="square black" style="grid-area: 5 / 6 / 6 / 7"></div>
      <div id="g4" class="square white" style="grid-area: 5 / 7 / 6 / 8"></div>
      <div id="h4" class="square black" style="grid-area: 5 / 8 / 6 / 9"></div>
      <div id="a3" class="square black" style="grid-area: 6 / 1 / 7 / 2"></div>
      <div id="b3" class="square white" style="grid-area: 6 / 2 / 7 / 3"></div>
      <div id="c3" class="square black" style="grid-area: 6 / 3 / 7 / 4"></div>
      <div id="d3" class="square white" style="grid-area: 6 / 4 / 7 / 5"></div>
      <div id="e3" class="square black" style="grid-area: 6 / 5 / 7 / 6"></div>
      <div id="f3" class="square white" style="grid-area: 6 / 6 / 7 / 7"></div>
      <div id="g3" class="square black" style="grid-area: 6 / 7 / 7 / 8"></div>
      <div id="h3" class="square white" style="grid-area: 6 / 8 / 7 / 9"></div>
      <div id="a2" class="square white" style="grid-area: 7 / 1 / 8 / 2"></div>
      <div id="b2" class="square black" style="grid-area: 7 / 2 / 8 / 3"></div>
      <div id="c2" class="square white" style="grid-area: 7 / 3 / 8 / 4"></div>
      <div id="d2" class="square black" style="grid-area: 7 / 4 / 8 / 5"></div>
      <div id="e2" class="square white" style="grid-area: 7 / 5 / 8 / 6"></div>
      <div id="f2" class="square black" style="grid-area: 7 / 6 / 8 / 7"></div>
      <div id="g2" class="square white" style="grid-area: 7 / 7 / 8 / 8"></div>
      <div id="h2" class="square black" style="grid-area: 7 / 8 / 8 / 9"></div>
      <div id="a1" class="square black" style="grid-area: 8 / 1 / 9 / 2"></div>
      <div id="b1" class="square white" style="grid-area: 8 / 2 / 9 / 3"></div>
      <div id="c1" class="square black" style="grid-area: 8 / 3 / 9 / 4"></div>
      <div id="d1" class="square white" style="grid-area: 8 / 4 / 9 / 5"></div>
      <div id="e1" class="square black" style="grid-area: 8 / 5 / 9 / 6"></div>
      <div id="f1" class="square white" style="grid-area: 8 / 6 / 9 / 7"></div>
      <div id="g1" class="square black" style="grid-area: 8 / 7 / 9 / 8"></div>
      <div id="h1" class="square white" style="grid-area: 8 / 8 / 9 / 9"></div>
      <div id="K-1" class="piece">
        <img src="pieces/light_king.svg" />
      </div>
      <div id="Q-1" class="piece">
        <img src="pieces/light_queen.svg" />
      </div>
      <div id="Q-2" class="piece">
        <img src="pieces/light_queen.svg" />
      </div>
      <div id="Q-3" class="piece">
        <img src="pieces/light_queen.svg" />
      </div>
      <div id="Q-4" class="piece">
        <img src="pieces/light_queen.svg" />
      </div>
      <div id="Q-5" class="piece">
        <img src="pieces/light_queen.svg" />
      </div>
      <div id="Q-6" class="piece">
        <img src="pieces/light_queen.svg" />
      </div>
      <div id="Q-7" class="piece">
        <img src="pieces/light_queen.svg" />
      </div>
      <div id="Q-8" class="piece">
        <img src="pieces/light_queen.svg" />
      </div>
      <div id="Q-9" class="piece">
        <img src="pieces/light_queen.svg" />
      </div>
      <div id="R-1" class="piece">
        <img src="pieces/light_rook.svg" />
      </div>
      <div id="R-2" class="piece">
        <img src="pieces/light_rook.svg" />
      </div>
      <div id="R-3" class="piece">
        <img src="pieces/light_rook.svg" />
      </div>
      <div id="R-4" class="piece">
        <img src="pieces/light_rook.svg" />
      </div>
      <div id="R-5" class="piece">
        <img src="pieces/light_rook.svg" />
      </div>
      <div id="R-6" class="piece">
        <img src="pieces/light_rook.svg" />
      </div>
      <div id="R-7" class="piece">
        <img src="pieces/light_rook.svg" />
      </div>
      <div id="R-8" class="piece">
        <img src="pieces/light_rook.svg" />
      </div>
      <div id="R-9" class="piece">
        <img src="pieces/light_rook.svg" />
      </div>
      <div id="R-10" class="piece">
        <img src="pieces/light_rook.svg" />
      </div>
      <div id="B-1" class="piece">
        <img src="pieces/light_bishop.svg" />
      </div>
      <div id="B-2" class="piece">
        <img src="pieces/light_bishop.svg" />
      </div>
      <div id="B-3" class="piece">
        <img src="pieces/light_bishop.svg" />
      </div>
      <div id="B-4" class="piece">
        <img src="pieces/light_bishop.svg" />
      </div>
      <div id="B-5" class="piece">
        <img src="pieces/light_bishop.svg" />
      </div>
      <div id="B-6" class="piece">
        <img src="pieces/light_bishop.svg" />
      </div>
      <div id="B-7" class="piece">
        <img src="pieces/light_bishop.svg" />
      </div>
      <div id="B-8" class="piece">
        <img src="pieces/light_bishop.svg" />
      </div>
      <div id="B-9" class="piece">
        <img src="pieces/light_bishop.svg" />
      </div>
      <div id="B-10" class="piece">
        <img src="pieces/light_bishop.svg" />
      </div>
      <div id="N-1" class="piece">
        <img src="pieces/light_knight.svg" />
      </div>
      <div id="N-2" class="piece">
        <img src="pieces/light_knight.svg" />
      </div>
      <div id="N-3" class="piece">
        <img src="pieces/light_knight.svg" />
      </div>
      <div id="N-4" class="piece">
        <img src="pieces/light_knight.svg" />
      </div>
      <div id="N-5" class="piece">
        <img src="pieces/light_knight.svg" />
      </div>
      <div id="N-6" class="piece">
        <img src="pieces/light_knight.svg" />
      </div>
      <div id="N-7" class="piece">
        <img src="pieces/light_knight.svg" />
      </div>
      <div id="N-8" class="piece">
        <img src="pieces/light_knight.svg" />
      </div>
      <div id="N-9" class="piece">
        <img src="pieces/light_knight.svg" />
      </div>
      <div id="N-10" class="piece">
        <img src="pieces/light_knight.svg" />
      </div>
      <div id="P-1" class="piece">
        <img src="pieces/light_pawn.svg" />
      </div>
      <div id="P-2" class="piece">
        <img src="pieces/light_pawn.svg" />
      </div>
      <div id="P-3" class="piece">
        <img src="pieces/light_pawn.svg" />
      </div>
      <div id="P-4" class="piece">
        <img src="pieces/light_pawn.svg" />
      </div>
      <div id="P-5" class="piece">
        <img src="pieces/light_pawn.svg" />
      </div>
      <div id="P-6" class="piece">
        <img src="pieces/light_pawn.svg" />
      </div>
      <div id="P-7" class="piece">
        <img src="pieces/light_pawn.svg" />
      </div>
      <div id="P-8" class="piece">
        <img src="pieces/light_pawn.svg" />
      </div>
      <div id="k-1" class="piece">
        <img src="pieces/dark_king.svg" />
      </div>
      <div id="q-1" class="piece">
        <img src="pieces/dark_queen.svg" />
      </div>
      <div id="q-2" class="piece">
        <img src="pieces/dark_queen.svg" />
      </div>
      <div id="q-3" class="piece">
        <img src="pieces/dark_queen.svg" />
      </div>
      <div id="q-4" class="piece">
        <img src="pieces/dark_queen.svg" />
      </div>
      <div id="q-5" class="piece">
        <img src="pieces/dark_queen.svg" />
      </div>
      <div id="q-6" class="piece">
        <img src="pieces/dark_queen.svg" />
      </div>
      <div id="q-7" class="piece">
        <img src="pieces/dark_queen.svg" />
      </div>
      <div id="q-8" class="piece">
        <img src="pieces/dark_queen.svg" />
      </div>
      <div id="q-9" class="piece">
        <img src="pieces/dark_queen.svg" />
      </div>
      <div id="r-1" class="piece">
        <img src="pieces/dark_rook.svg" />
      </div>
      <div id="r-2" class="piece">
        <img src="pieces/dark_rook.svg" />
      </div>
      <div id="r-3" class="piece">
        <img src="pieces/dark_rook.svg" />
      </div>
      <div id="r-4" class="piece">
        <img src="pieces/dark_rook.svg" />
      </div>
      <div id="r-5" class="piece">
        <img src="pieces/dark_rook.svg" />
      </div>
      <div id="r-6" class="piece">
        <img src="pieces/dark_rook.svg" />
      </div>
      <div id="r-7" class="piece">
        <img src="pieces/dark_rook.svg" />
      </div>
      <div id="r-8" class="piece">
        <img src="pieces/dark_rook.svg" />
      </div>
      <div id="r-9" class="piece">
        <img src="pieces/dark_rook.svg" />
      </div>
      <div id="r-10" class="piece">
        <img src="pieces/dark_rook.svg" />
      </div>
      <div id="b-1" class="piece">
        <img src="pieces/dark_bishop.svg" />
      </div>
      <div id="b-2" class="piece">
        <img src="pieces/dark_bishop.svg" />
      </div>
      <div id="b-3" class="piece">
        <img src="pieces/dark_bishop.svg" />
      </div>
      <div id="b-4" class="piece">
        <img src="pieces/dark_bishop.svg" />
      </div>
      <div id="b-5" class="piece">
        <img src="pieces/dark_bishop.svg" />
      </div>
      <div id="b-6" class="piece">
        <img src="pieces/dark_bishop.svg" />
      </div>
      <div id="b-7" class="piece">
        <img src="pieces/dark_bishop.svg" />
      </div>
      <div id="b-8" class="piece">
        <img src="pieces/dark_bishop.svg" />
      </div>
      <div id="b-9" class="piece">
        <img src="pieces/dark_bishop.svg" />
      </div>
      <div id="b-10" class="piece">
        <img src="pieces/dark_bishop.svg" />
      </div>
      <div id="n-1" class="piece">
        <img src="pieces/dark_knight.svg" />
      </div>
      <div id="n-2" class="piece">
        <img src="pieces/dark_knight.svg" />
      </div>
      <div id="n-3" class="piece">
        <img src="pieces/dark_knight.svg" />
      </div>
      <div id="n-4" class="piece">
        <img src="pieces/dark_knight.svg" />
      </div>
      <div id="n-5" class="piece">
        <img src="pieces/dark_knight.svg" />
      </div>
      <div id="n-6" class="piece">
        <img src="pieces/dark_knight.svg" />
      </div>
      <div id="n-7" class="piece">
        <img src="pieces/dark_knight.svg" />
      </div>
      <div id="n-8" class="piece">
        <img src="pieces/dark_knight.svg" />
      </div>
      <div id="n-9" class="piece">
        <img src="pieces/dark_knight.svg" />
      </div>
      <div id="n-10" class="piece">
        <img src="pieces/dark_knight.svg" />
      </div>
      <div id="p-1" class="piece">
        <img src="pieces/dark_pawn.svg" />
      </div>
      <div id="p-2" class="piece">
        <img src="pieces/dark_pawn.svg" />
      </div>
      <div id="p-3" class="piece">
        <img src="pieces/dark_pawn.svg" />
      </div>
      <div id="p-4" class="piece">
        <img src="pieces/dark_pawn.svg" />
      </div>
      <div id="p-5" class="piece">
        <img src="pieces/dark_pawn.svg" />
      </div>
      <div id="p-6" class="piece">
        <img src="pieces/dark_pawn.svg" />
      </div>
      <div id="p-7" class="piece">
        <img src="pieces/dark_pawn.svg" />
      </div>
      <div id="p-8" class="piece">
        <img src="pieces/dark_pawn.svg" />
      </div>
    </div>
    <div class="controls">
      <button id="button-reset">Reset</button>
      <div>
        <button id="button-mack1">Run Mack1</button>
        <button id="button-mack1-white">Play white against Mack1</button>
        <button id="button-mack1-black">Play black against Mack1</button>
      </div>
      <div>
        <button id="button-mack2">Run Mack2</button>
        <button id="button-mack2-white">Play white against Mack2</button>
        <button id="button-mack2-black">Play black against Mack2</button>
      </div>
      <span id="result"></span>
    </div>
    <script src="script.js"></script>
  </body>
</html>
